[user]
	name = {{ fullname }}
	email = {{ email }}
[init]
	defaultBranch = main
[alias]
	lg = log --graph --decorate=full --all --oneline
	lgv = log --graph --decorate=full --all --format='%C(yellow)%h%Creset%C(auto)%d%Creset %s%n%C(dim normal)%aN <%aE> (%ah)%Creset%n'
