[defaults]
interpreter_python = auto_silent
callback_result_format = yaml
host_key_checking = false
localhost_warning = false
roles_path = roles
collections_path = collections

[inventory]
inventory_unparsed_warning = false
